body{
    background-color:#e9ecef;
}

#thor-image{
    height: 300px;
}

#thor-proud{
    height: 350px;
}
#thor-image{
    height: 300px;
}
.subtitle{
    font-size:2em;
}

#box-items{
    padding:20px;
}

.card{
    margin:10px;
}

html {
    scroll-behavior: smooth;
  }

.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
  }